body {
	background: red;
	margin: 0;
	padding: 0;
}
.main {
	width: 900px;
	height: 1500px;
	background: blue;
	margin: 0 auto 0 auto;
}
.logo {
	width: 180px;
	height: 50px;
	margin: 25px 0 0 20px;
}
header {
	background: white;
	width: 900px;
	height: 100px;
}
nav {
	width: 500px;
	height: 100px;
	float: right;
}
.navigacija {
	width: 500px;
	height: 100px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigacija li {
	float: left;
	margin: 40px 40px 0 0;
}
.navigacija li a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
}
.navigacija li a:hover {
	color: red;
}
.slider {
	width: 900px;
	height: 500px;
}
.slider img {
	width: 900px;
	height: 500px;
}
.proizvodi {
	width: 900px;
	height: 350px;
	background: green;
}
.tri-proizvodi {
	width: 900px;
	height: 350px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: purple;
}
.tri-proizvodi li {
	width: 300px;
	height: 350px;
	background: orange;
	float: left;
}
.tri-proizvodi li img {
	width: 128px;
	height: 128px;
	margin: 20px 86px 0 86px;
}
.tri-proizvodi li p {
	font-size: 14px;
	font-family: Arial;
	color: black;
	line-height: 24px;
	text-align: center;
}
.tri-proizvodi li a {
	display: block;
	width: 150px;
	height: 31px;
	background: blue;
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	text-decoration: none;
	padding: 9px 0 0 0;
	border-radius: 10px;
	margin: 0 75px 0 75px;
}